<h1>Editing Cliente Proveedor Type</h1>

<%= render 'form', cliente_proveedor_type: @cliente_proveedor_type %>

<%= link_to 'Show', @cliente_proveedor_type %> |
<%= link_to 'Back', cliente_proveedor_types_path %>
