<% if seguimientos.count > 0 %>
<div class="">
   <% seguimientos.sort_by { |h| h[:created_at] }.reverse.each do |seg| %>
   <div class="conteinter reporte cnt" id = "rseg<%=seg.id%>" style = "margin-top: 5px;margin-bottom: 10px !important;
      background-color: #fff;
      border-bottom: 1px solid #e2e2e2;
      border: 1px solid #d8d8d8;
      border-radius: 3px;">
     <%= render "rseguimiento", seg: seg %>
   </div>
   <% end %>
   </div>
   <%else%>
   <div class="jumbotron jumbacc">
      <h3 class="display-3 color-gray">No se ha creado ningun seguimiento</h3>
      <br>
      <%= (link_to "Nuevo Seguimiento", new_report_rseguimiento_path(@report),remote:true, :class => 'btn btn-primary')  %>
      <hr>
      <br>
      </p>
   </div>
   

   <%end%>