<% if @rseguimiento.errors.blank? %>
  $('#contact-modal').modal('hide');
  $('.rseguimientos_partial').html('<%= j render "rseguimientos/rseguimientos", seguimientos: @seguimientosa %>');
  $('.rsegcount').html("(<%= @seguimientosa.count %>)"); 
 $('.alert').remove();
<% else %>
$(".alert").css("display", "block");
  // TODO: show the errors in the UI
  $('.alert').empty('<p></p>');
  <% @rseguimiento.errors.full_messages.each do |msg| %>
          $('.alert').append('<p><%=msg%></p>');
        <% end %>

<% end %>