


<%= render 'encabezado'%>
<br>





<div class="row">
   <div class="col-md-12">
      <div class="conteinter reporte" >
         <div class="row rtr">
         <div class="col-md-8">
              <p class = "prox"><strong style="font-size:25px;">Reportes <span style = "font-size:16px;">(En los culaes tienes Gestión pendiente de Cierre)</span></strong></p>
         </div>
         <div class="col-md-4">
            <%= select_tag :employed, options_for_select(get_employeds.order(first_name: :asc).collect{ |u| ["#{u.first_name} #{u.first_last_name}", u.id] },{:selected=>@employed.id}), {:multiple => false,class: 'form-control employed_s'}%>
         </div>
           
            
         </div>
         
         </div>

          
  


         <div class="gestion_cierre">
             <%= render "dashboard/gestion/gestion_cierre", reportss: @reportss, report_array: @report_array, accion_array: @accion_array, task_array: @task_array%>
         </div>






      </div>
   </div>
   </div>


<style>
.nh
{
      text-align: center;
    margin-top: 70px;
    font-size: 14px;
}
  
</style>


<style>
.report-ds
{
  background: #f2f2f2;
  color: gray;
  margin-bottom: 50px;
  padding: 10px;
}
.vencido
{

  border-right: 10px solid #d82c2c;
  border-left: 10px solid #d82c2c;
}
.proximo
{

  border-right: 10px solid orange;
  border-left: 10px solid orange;
}
.vigente
{

  border-right: 10px solid #22c488;
  border-left: 10px solid #22c488;
}
.vencidob
{

  background:  #d82c2c;
  color: white;

}
.proximob
{

  background:  orange;
  color: white;
 
}
.vigenteb
{

  background: #22c488;
  color: white;

}
.table td
{
  text-align: center;
}

.tl th
{
  border-top: 1px solid #cecece !important;
}
.well
{
  background: white !important;
}
.br-info
{
    border-radius: 10px;
    margin-right: 10px;
    padding: 5px 8px;
    background: #aaaaaa;
    color: white;
}
</style>


<script>
    
    $('.employed_s').click(function(){
        
        b = $(this).val(); 
        $.get("/index_person/" + b, function(data) {

    });


    })
    

</script>