

      <div class="conteinter reporte cnt" id="accion-cont-<%=accion.id%>" style="background:#eaeaea">
         <%= render "accions/row_encabezado/cerrada_contenido", accion: accion %>
            
      </div>
