
<% if @task.errors.blank? %>
  $('#contact-modal').modal('hide');
   $('.trow<%=@taskd%>').remove();
   $('.tasks_abierta').html("(<%= @tasks.count %>)");
   $('.task-cont-p').html("<%= @tasks.count %>");
<% else %>
$(".alert").css("display", "block");
  // TODO: show the errors in the UI
  $('.alert').empty('<p></p>');
  <% @task.errors.full_messages.each do |msg| %>
          $('.alert').append('<p><%=msg%></p>');
        <% end %>

<% end %>