
<% if @task.errors.blank? %>
  $('#contact-modal').modal('hide');
  $('.task_abiertasa').html("<%= j render :partial => 'accions/task_abiertas', tasks: @tasks %>");
console.log("<%= j render :partial => 'accions/task_abiertas', tasks: @tasks %>")
<% else %>
$(".alert").css("display", "block");
  // TODO: show the errors in the UI
  $('.alert').empty('<p></p>');
  <% @task.errors.full_messages.each do |msg| %>
          $('.alert').append('<p><%=msg%></p>');
        <% end %>

<% end %>