<% if @task.errors.blank? %>
  $('#contact-modal').modal('hide');
  $('.trow<%=@task.id%>').html("<%= j render 'accions/rows_task/task_row', task: @task , accion: @accion %>");

<% else %>
$(".alert").css("display", "block");
  // TODO: show the errors in the UI
  $('.alert').empty('<p></p>');
  <% @task.errors.full_messages.each do |msg| %>
          $('.alert').append('<p><%=msg%></p>');
        <% end %>

<% end %>





