<div class="container-fluid sin-padding">
	

<nav class="navbar navbar-default" style="background: white !important;">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
       <a class="navbar-brand logo principal"  href="#"><img  id="slack" src="https://c1.staticflickr.com/5/4184/34455208672_b8f967e15e_o.png">Mejora<span>App</span></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    
     
      <ul class="nav navbar-nav navbar-right principalnav">
        <li><a href="#">Precios</a></li>
        <li><a href="#">Inicar Sesión</a></li>
        
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="row">
<div class="col-lg-12 ppal">

   
	<div class="col-md-12">
    <div class="info-mejoraapp">

   



<!--<p class = "logop" style = "color:#9a9a9a;    font-size: 40px;color:white;margin: 0px;margin-top:0px">
      <a font-weight: bold;" href="https://www.wowza.com/slack" target="_blank"> Mejorando<span> Ahora</span></p></a>
    </p>-->

    <p  style="text-align:justify;font-family: 'Raleway', sans-serif;
">
      
      Con <span style="font-size: 35px;
    color: white;
    font-weight: bold;">Mejora</span><span style ="font-size: 35px;
    color: #0db497;
    font-weight: bold;">App</span> controla todas esas actividades diarias que ayudan al mejoramiento continuo de tu Empresa tales como:
    </p >
    



   
   
    

  

</div>
   </div>
</div>
	
</div>
<br>
    <section class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Analisis de Causas</h2>
                    <p class="lead">Analiza las causas de tu reporte mediante conocidos metodos como Causa y Efecto o Pareto</p>
                </div>
                <div class="col-lg-5 offset-lg-2">
                    <img style = "width:500px" class="img-fluid" src="https://c1.staticflickr.com/3/2916/33780663130_8174dab8c0_o.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->
    </section>
<hr>

    <section class="content-section-b" id="services">

        <div class="container" >

            <div class="row">
             <div class="col-lg-5 pull-lg-5">
                    <img style = "width:300px" class="img-fluid" src="https://c1.staticflickr.com/3/2919/34008024672_bdf28f1543_o.png" alt="">
                </div>
                <div class="col-lg-5 push-lg-7">
                    
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Rendimiento de los Empleados</h2>
                    <p class="lead">Analiza mediante indicadores el compromiso de tus empleados con respecto a las Actividades asiganadas</p>
                </div>
               
            </div>

        </div>
        <!-- /.container -->

    </section>

</div>







<style>
.sin-padding{
	     padding-left: 0px;
     padding-right: 0px; 
}
.principalnav a{
	color:gray !important;
}
.principal{width:250px;background: white;    color: #adadad !important;    padding: 7px 20px !important;}
.principal img
{
width:40px;display:inline-block;margin-right:  10px;

}
	
</style>

<style>
      .marketing-container {
        background-image: url("//s3.amazonaws.com/wcl-marketing/prod/global/default_slack/slack-bg.jpg");
      }

      .marketing-container {
        background-position: center bottom;
      }

      .info-mejoraapp h1 {
        color: #ffffff !important;
        text-align: center;
      }

      .info-mejoraapp p {
        color: #dddddd;
        margin-top: 25px;
        margin-bottom: 25px;
        margin-left: 15%;
        margin-right: 15%;
      
        text-align: center;
        font-size: 25px;
      }

      .info-mejoraapp strong, .info-mejoraapp a {
        color: #ffffff;
      }

      .info-mejoraapp img#slack {
        width: 100%
      }
      .info-mejoraapp
      {
    margin-top: 25px;
    padding: 40px 60px;
}
.img-right
      {
        padding: 0;
    position: relative;
    top: 0;
    bottom: 0;
    height: 100%;
    
}
.copyright
{ margin-top:20px;
     
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}
.check
{
  text-align: left !important;
    font-size: 15px!important;
    margin-top:10px !important;
     margin-bottom:10px !important;
   
}
.check i
{

}

    </style>