<div class="conteinter htitle" style = "padding:0px">
   <div class="row rtr">
      <div class="col-md-2 rtd"></div>
      <div class="col-md-8 rtd">
         <h4 class="linka margin-cero"><i style = "font-size:20px"  class="fa fa-unlock" aria-hidden="true"></i> TAREAS (<%= @tasks.count %>)</h4>
      </div>
      <div class="col-md-2 rtd">       
         <% if @tasks.count > 0 %>
         <%= (link_to 'Nueva Tarea', new_report_accion_task_path(@report,accion), remote: true,:class => 'btn btn-primary pull-right') if (current_user.rol ? current_user.rol.configuracion : false) || current_user.role == "SuperAdmin" || current_user.rol.create_all || current_user.email == accion.employed.email %><%end%>
      </div>
   </div>
</div>
