
<div class="dropdown sort">
  <a id="dLabel" href ="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  <i class="fa fa-sort" aria-hidden="true"></i>
  </a>
  <ul class="dropdown-menu" aria-labelledby="dLabel">
    <li>

<%= link_to "Desc" , users_index_path + "?row=#{row}&tipo=#{tipo2}",  :class => "opciones desc"%>
                <%= link_to "Asc", users_index_path + "?row=#{row}&tipo=#{tipo1}",:class => "opciones asc"  %>





                </li>
  </ul>
</div>