<div class="row submenu-main" >

  <ul class="nav nav-tabs" role="tablist">
     <li role="presentation" class="active"> <%= link_to riesgos_path do %>
        <i class="fa fa-building-o" aria-hidden="true"></i>
        <span class="hidden-xs">Riesgos</span>
        <% end %>
     </li>

     <li role="presentation" class=""> <%= link_to risk_sources_path do %>
        <i class="fa fa-building-o" aria-hidden="true"></i>
        <span class="hidden-xs">Fuentes de Riesgos</span>
        <% end %>
     </li>

    <li role="presentation" class=""> <%= link_to classification_risks_path do %>
        <i class="fa fa-building-o" aria-hidden="true"></i>
        <span class="hidden-xs">Clasificación de Riesgos</span>
        <% end %>
     </li>

  </ul>
</div>