<table border="1">
	<thead style="background: #3396FF;">
	  <tr>
	    <th class="bagroun"></th>
	    <th>P1</th> 
	    <th>P2</th>
	    <th>P3</th> 
	    <th>P4</th>
	    <th>P5</th> 
	    <th>P6</th>
	    <th>P7</th> 
	    <th class="bagroun" ">Total</th>
	  </tr>
  </thead>

  <tbody>
	  <tr>
	    <td class="color1">Aceptable</td>
	    <td class="color1 float">2</td> 
	    <td></td>
	    <td class="color1 float">3</td>
	    <td></td> 
	    <td></td>
	    <td class="color1 float">2</td>
	    <td></td> 
	    <td class="float">7</td>
	  </tr>
	  <tr>
	    <td class="color2">Tolerable</td>
	    <td class="color2 float">2</td> 
	    <td></td>
	    <td></td>
	    <td></td> 
	    <td class="color2 float">3</td>
	    <td></td>
	    <td class="float">6</td> 
	    <td class="float" >11</td>
	  </tr>
	  <tr>
	    <td class="color3">Moderable</td>
	    <td class="color3 float">1</td> 
	    <td></td>
	    <td></td>
	    <td></td> 
	    <td></td>
	    <td></td>
	    <td></td> 
	    <td class="float">1</td>
	  </tr>
	  <tr>
	    <td class="color4">Inaceptable</td>
	    <td class="color4 float">1</td> 
	    <td class="color4 float">1</td>
	    <td class="color4 float">1</td>
	    <td class="color4 float">2</td> 
	    <td></td>
	    <td></td>
	    <td class="color4 float">1</td> 
	    <td class="float">7</td>
	  </tr>
  </tbody>
</table>
<br>
<table border="1">

  <thead>
	  <tr>
	    <th colspan="2" style="padding-right: 10px; padding-left: 10px;" >CLASIFICACION</th>
	  </tr>
  </thead>

  <tbody>
	  <tr>
	    <td class="color1">Aceptable</td>
	    <td width="10" class="float">7</td> 
	  </tr>

	  <tr>
	    <td class="color2" width="10">Tolerante</td>
	    <td width="10" class="float">11</td> 
	  </tr>

	  <tr>
	    <td class="color3">Moderado</td>
	    <td width="10" class="float">1</td> 
	  </tr>

	  <tr>
	    <td class="color4">Inaceptable</td>
	    <td width="10" class="float">7</td> 
	  </tr>

  </tbody>

</table>

<style>
	table th{
		width: 100px;
	}

	.color1{
		background: #FFF033;
	}
	.color2{
		background: #28B463;
	}

	.color3{
		background: #3498DB;
	}

	.color4{
		background: red;
	}

	.float{
		text-align: right;
		padding-right: 4px;
	}

	.bagroun{
		background: #fff !important;
		text-align: center;
	}


</style>