// Place all the styles related to the Accions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.titaccion
{
	
	font-size:18px !important;
	color:#0db497 !important;
	a
	{
		font-size:22px !important;
	color:#0db497 !important;
	}
}

.lin
{
	color:#0db497 !important;
	text-decoration:none !important;
}

.jumbacc
{
	
margin-top: 10px;
    padding: 15px 160px !important;
    text-align: center;
}
.jumbacc h1
{
	font-size:40px !important;
	}