@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300,800);

body{
  font-family: 'Roboto', sans-serif;

}
.admin{
        background:#f2f2f2;
}
.app{
       background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), 
 url('https://c1.staticflickr.com/1/380/32109350242_c2465948ac_h.jpg')no-repeat center top;
  background-size: cover;
  
}
.bar-top{
  background-color: #8c8c8c !important;
  border-bottom: 0 !important;
  color: #d3dbe2 !important;
  margin-bottom: 0 !important;

  a{
    color: #d3dbe2 !important;
  }
}

.sidebar{
  color: #d3dbe2 !important;
  padding-top: 40px;

  a{
    color: #d3dbe2;
  }
  a:focus{
   color:#d3dbe2 !important
    }
    a:hover{
    color:#d3dbe2 !important
    }
}

.main{
      background: #ecf0f1 !important;

  min-height: 750px !important;

  

}

.dashboard {
  .ad{
    margin: 0px 0 10px 0;
  }

  .actuales hr{ margin-top: 10px;}

}

.course{
  .calificacion h4{margin: 0;}
  //.calificacion .col-md-2{ padding: 0 5px;}
}
.active
{
  background: #1bbdd0;
  color:white!important;
}



.sidebar a:hover {
    background: #1bbdd0!important;
    color:white!important;
    }

    .cuerpo
    {
    padding:15px !important;
    }

.nav .open>a:hover, .nav .open>a:focus 
{
  background: #1bbdd0!important;
    color:white!important;
}

.page-header
{
  margin:0px 0px 20px!important;
}
h1
{
  color:gray!important;
  margin:0px;
}
.ic 
{
  font-size: 18px !important;
    color: white;
    margin-right:3px;
    span
    {
      font-size:14px!important;
    }
}

.index1
{
      background: white !important;

}
.logo 
{
  background:black;

   
}

 .logo 
    {
      font-family: 'Days One', sans-serif;
    background:black;
    font-size: 21px;
    margin: 0px;
    color: #dadada;
   
}
.logo span
    {
      color:#22bdc8;

    }
    .logop 
    {
      font-family: 'Days One', sans-serif;
    text-align:center;
    font-size: 21px;
    margin: 0px;
    color: #dadada;
   
}
.logop span
    {
      color:#22bdc8;

    }


.sign_form
{
  margin-top:50px;
}

.titulo-form
{
   font-family: 'Days One', sans-serif;
    text-align:center;
    font-size: 2em;
    margin: 0px;
       
    color: #b9b9b9;
}
.title-table
{
  font-size: 2em;
  padding:20px;
  color: #1bbdd0;
  font-family: 'Days One', sans-serif;
}

.contenido
{
  background:white;
  margin-top: 0px;
}

.tr-table
{
background: #f2f2f2;
    color: #7a7a7a;
    font-weight:bold;

    }
    .table
    {

        color: #7a7a7a;
        font-size:13px;



    }

    .tbody td
        {
        vertical-align: middle !important;
        }


    .opciones
    {
    color:#7a7a7a;
    margin-right:10px;
    font-size:16px;
    }
     .opciones:focus
    {
    color:#7a7a7a;
    
    }
     .opciones:hover
    {
   text-decoration:none;
    }
.opciones2
    {
    color:#7a7a7a;
    margin-right:10px;
    font-size:20px;
    }

     .imgav img
    {
      width:50px;
      border-radius:60px;
      height:50px;
    }
    .sort 
    {
    display:inline-block;
    color:#7a7a7a;
    }
    .sort a
    {
    
    color:#7a7a7a;
    font-size:13px;
    
    margin-right:5px;
    }
    .login1
    {    padding: 30px;
       background: rgba(255, 255, 255, 0);
      p
      {
        padding:10px;
      }
      label
      {
      color:white;
      }
    }
    .login2
    {    padding: 30px;
       background: rgba(255, 255, 255, 0);
      p
      {
        padding:10px;
      }
      label
      {
      color:#949494;
      }
    }

    .avatar 
    {
    text-align:center;
      img
      {
        
        border-radius:60px;
      }
    }

    .menup
    {
    font-size:13px;

      
    }

    .submenu-main
    {
    background:white;
    border-bottom: 1px solid #d4d4d4;
    padding:10px;
       
      p
        {
        font-size: 1em;
      color: #c1c1c1;;
        margin-left:20px;
        font-family: 'Days One', sans-serif;


        }
    }
    .show-user
    {
      p
      {
      color:gray;
      }
      h2
      {
      color:#1bbdd0;
      }  
      i
      {
      margin-right:20px;

      }    
    }


    .table>thead>tr>th {
    vertical-align: bottom !important;
    border-bottom: 2px solid #ddd !important;
}

.search1
{
  width:50% !important;
  display:inline-block !important;
}

.nav
{
  li
      {
        display:inline-block !important;
      }

}
.menum
{
  
  background: #5f6267;
}
.menum a
{
  padding:15px;
      text-decoration: none !important;
          font-size: 13px;
}
.dp
{
  padding:15px;

}
dp a:focus:hover:active:visited {color:black !important }
.menumi
{
      margin-top: 15px;

}

.menusp
{
      margin-right: 0 !important;
    margin-left: 0 !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1;
}
.conte
{
  margin-top:10px;
     margin-right: auto;
    margin-left: auto;
    padding-left: 0px !important;
    padding-right: 0px !important;
        padding-top: 136px;
        margin-top: 0px;
}

.row
{
      margin-left: 0px !important;
    margin-right: 0px !important;

}
@media (max-width: 900px) {
    .conte {
        padding-top: 250px;

    }
}

@media (max-width: 900px) {
    .ch {
       width : 10px;

    }
}

.just
{
  display:none;
}
.numeral_report
{
  background:whitesmoke;
    padding: 20px;
}
.area
{
  height:100px !important;
}
.titulor
{
      color: gray;
}
.label-primary
{
  background-color: #1bbdd0 !important;
}
.paginate
{
  text-align:center;

}
.page_info
  {
  color: #1bbdd0 !important;
  }
  .titulo1
  {
      margin-left: 120px;
    color: #1bbdd0 !important;
  }
  .def
  {
  color:green;
  }



.text-left
{
  text-align:left !important;
  padding:10px !important;
  }

.text-center
{
  
}