/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require chosen
 *= magic-check
*= require image-picker
*= require admin
*= require sweetalert2
*= require fullcalendar
*= require dataTables/jquery.dataTables
*= require jquery-ui
*= require_tree .
*/



.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus 
{

	background: white!important;
}
.nav>li>a {

padding: 15px 15px;
	}

	.barleft
	{
		padding: 0px!important;
	}

	.nav>li
	{
		 
	}

	.logo img
	{
		width: 170px;
	}
	.logo
	{
	text-align: center;
    padding: 10px;
}
.logov img
	{
		width: 130px;
	}
	.logov
	{
	text-align: center;
    padding: 10px;
    position: fixed!important;
    bottom: 50px !important;
}

.btn-primary:visited {
    color:white !important;
}
.btn-primary{
    background: #0db497 !important;
        border-color: #0db497 !important;
}

.btn-primary:hover {
    color:white !important;
    
}

.btn-danger:visited {
    color:white !important;
}
.submenu a
{


       margin-right: 0px;
           color: #8c8c8c;
    padding: 16px 13px;
   
    border-radius: 0px;
    font-size: 13px;
  
    
}
.submenu a:hover
{

border-right: none;
   background: #0db497;
  color:white!important;
  text-decoration:none;
        border-right: none !important;
}
.submenu a:active
{

border-right: none;
   background: #0db497;
  color:white!important;
  text-decoration:none;
        border-right: none !important;
}



.submenu 
{

    padding: 14px;
         background: -webkit-linear-gradient(#fbfbfb, #d6d6d6);
    margin-top: 0px;
    }

   .nav-pills>li>a
   {
   	border-radius: 0px!important;
   }

.ribbon {
 
  position: fixed!important;
  bottom: 40px!important;
  border:0px !important;
  
}
.ribbon img {
 
  width: 150px;
}
.pagination
{
  margin:5px !important;

   
      
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus 

{    background-color: #0db497!important;
    border-color: #0db497 !important;
    color: white !important;}

    .pagination > li > a, .pagination > li > span
    {

    color: #0db497 !important;
    }



.linka
{
  color:#0db497 !important;
}
.linka:hover
{
  text-decoration: none !important;
}



.chosen-container-single .chosen-single {
    height: 30px !important;
    border-radius: 3px !important;
    border: 1px solid #CCCCCC !important;
}
.chosen-container-single .chosen-single span {
    padding-top: 2px !important;
}
.chosen-container-single .chosen-single div b {
    margin-top: 2px !important;
}


.chosen-container-active .chosen-single,
.chosen-container-active.chosen-with-drop .chosen-single {
    border-color: #ccc !important;
    border-color: rgba(82, 168, 236, .8) !important;
    outline: 0 !important;
    outline: thin dotted \9 !important;
    -moz-box-shadow: 0 0 8px rgba(82, 168, 236, .6) !important;
    box-shadow: 0 0 8px rgba(82, 168, 236, .6)!important;
}

input, select, textarea
{
  background: #f9f9f9 !important;
}

.chosen-container-multi .chosen-choices {

 background: #f9f9f9 !important;
 border-radius: 4px !important;
    
  }

label
{
  color:gray!important;
}

.display-none
{
  display: none !important;
}

  .navbar-default
  {
    margin-bottom: 0px !important;
    background: #2a3f54 !important;

  }
 .barone a
  {
    color: #2a3f54 ;
    border-left-width: medium;
    font-size: 13px !important;

  }
  .bartwo a
  {
    color: white !important;
    border-left-width: medium;
    font-size: 13px !important;

  }
  .logo
  {

    padding: 15px 37px;
    color:#e8e8e8 !important;
    font-size: 20px;
  }

    .submenu-main .fa
    {
      display: none;
    }
  
  .navbar-brand {
   
    padding: 5px 20px !important;
    font-size: 22px !important;
   
   
  }

  .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus
  {
    color: #0db493 !important;
    /*font-weight: bold !important;*/
  }


  .nav-tabs>li>a 

  {
    color:#969696  !important;
    font-size:13px;
  }

  .tip
{
  padding: 0px 4px;
    background: orange;
    color: white;
    border: none;
}



@media (max-width: 900px) {
    .ch {
       width : 10px;

    }
}
.alert {

   margin-bottom: 0px !important;

  }

  .form-control
  {

    border-radius: 0px !important;
  }


  .chosen-container-single .chosen-single div b {
 
    background: url("https://mybc1.s3.amazonaws.com/uploads/rseguimiento/evidencia/193/chosen-sprite.png") no-repeat 0px 2px !important;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {

    background: url("https://mybc1.s3.amazonaws.com/uploads/rseguimiento/evidencia/193/chosen-sprite.png") -42px 1px no-repeat !important;
    
}

.chosen-container-single .chosen-single abbr {

    background: url("https://mybc1.s3.amazonaws.com/uploads/rseguimiento/evidencia/193/chosen-sprite.png") -42px 1px no-repeat !important;

}

  .icon-export img
  {
    width: 30px;
  }