// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/





@media (max-width: 786px) {
    .sign_form
{
  margin-top:0px;
}
.cf {
 padding-left: 0px;
 padding-right: 0px;
}
.cf1 {
 padding-left: 0px;
 padding-right: 0px;
}
login1 {
     margin-top: 0px;
}
}