// Place all the styles related to the Numerals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.descnum
{
	max-height: 100px !important;
    overflow: auto;
    height: auto;
}