<div id="myModal_hallazgo" class="modal fade">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
        <h4 class="modal-title">Crear tipo de Hallazgo</h4>
      </div>
 <div class="modal-body">
      <%= form_tag crear_hallazgo_path, method: :post, remote:true do %>
        <div class="form form-group">
          
        
        <label for="">Nombre</label>
      
        <%=text_field_tag :name,nil , id: "name_hpc", class:"form form-control"%>
        <%=text_field_tag :id_source,1 , id: "id_source", class:"form form-control"%>
    
        </div>
        <%= submit_tag "guardar", class:"btn btn-primary"%>
        <%end%>



  </div>



      <div class="modal-footer text-center">
       
        
           </div>


  
  </div>
</div>
</div>


