$('#contact-modal').modal('hide');

    


         
       $('.pr').prepend('<option selected="selected" value="<%=@cliente_proveedors1.id%>"><%=@cliente_proveedors1.name%></option>');
       $('.pru select').remove();
       $('.pru').html('<label for="report_Contacto">Contacto</label><br><select  class=" form-control pri" name="report[contact_id]" id="report_contact_id" style=""><option selected="selected" value="<%=@cliente_proveedors1.contacts.first.id%>"><%=@cliente_proveedors1.contacts.first.name%></option></select>');
