<div class="row">
  <div class="col-md-12 ">
    <p><%= link_to "Inicio /",  root_path, :class => "linka" %>  <%= link_to "Reportes",  reports_path, :class => "linka" %> </p>
  </div>
</div>
<h1 class = "titulo1" style="margin-left: 50px;">Nuevo Reporte</h1>

<%= render 'form', report: @report %>

<%= link_to 'Back', reports_path %>
